<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset='utf-8'/>
    <title>测试模块</title>
    <meta name="description" content="<?php echo $this->description;?>"/>
    <meta name="keywords" content="<?php echo $this->keywords;?>"/>
    <meta name="referrer" content="always"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="msapplication-navbutton-color" content="#000000"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name=viewport content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <script><%= require('raw-loader!./../../../inline/flexible') %></script>
</head>
<body>
<div id="app"></div>
</body>
</html>