
@import "../../../style/scss/helpers/functions";
.search-type-title {
  line-height: px2rem(88);
  padding: 0 px2rem(24);
  font-size: px2rem(34);
}

.search__result-item-box {
  background-color: #fafafa;
}

.searh__loading {
  display: flex;
  justify-content: center;
  align-items: center;
}