<div class="com2-logo__item">
  <div class="com2-logo__title">AI先锋</div>
  <div class="com2-logo__desc">
    不要轻视任何一家创业公司。今天的先锋，
    或许未来就是一只独角兽。
  </div>
</div>
<div class="com2-logo__item">
  <div class="com2-logo__title">参选条件</div>
  <div class="com2-logo__desc">
    -参选公司为最近5年创立的人工智能创业公司；
    -参选公司2017年度在技术创新、业务增长、营收增长、融资等任一方面表现亮眼；
    -获奖公司需要出席GTIC AWARDS 2018颁奖仪式。
  </div>
</div>
<div class="com2-logo__item">
  <div class="com2-logo__title">评选标准</div>
  <div class="com2-logo__desc">
    -将评估参选公司在2017年的创新能力、发展速度、影响力和未来价值；
    -大众投票权重占比30%，评委嘉宾评分权重占70%；
    -最终评选出10家获奖公司。
  </div>
</div>

