<div class="com2-logo__item">
  <div class="com2-logo__title">年度创新产品</div>
  <div class="com2-logo__desc">
    唯有创新，才具有长久的生命力。打破常规，敢于创新，当成为本能，砥砺前行。
  </div>
</div>
<div class="com2-logo__item">
  <div class="com2-logo__title">参选条件</div>
  <div class="com2-logo__desc">
    -参选产品必须是2017年发布、上市或有重大更新；
    -参选产品必须是服务于最终消费者；
  </div>
</div>
<div class="com2-logo__item">
  <div class="com2-logo__title">评选标准</div>
  <div class="com2-logo__desc">
    -将评估参选产品的创新性、行业影响力；
    -大众投票权重占比30%，评委嘉宾评分权重占70%；
    -最终评选出10个获奖产品。
  </div>
</div>

