<div class="com2-logo__item">
  <div class="com2-logo__title">优秀解决方案</div>
  <div class="com2-logo__desc">
    把客户需求落地，创造客户认可的价值，是他们一直在追求的目标。
  </div>
</div>
<div class="com2-logo__item">
  <div class="com2-logo__title">参选条件</div>
  <div class="com2-logo__desc">
    -参选方为最近3年发布或上市的行业解决方案、企业级服务或产品；
    -参选方的服务对象为企业，而非终端消费者；
    -参选方2017年度在客户价值、创新性、增长速度等任一方面表现亮眼。
  </div>
</div>
<div class="com2-logo__item">
  <div class="com2-logo__title">评选标准</div>
  <div class="com2-logo__desc">
    -将评估参选方的创新性、客户价值、成长性、影响力；
    -大众投票权重占比30%，评委嘉宾评分权重占70%；
    -最终评选出5个获奖者。
  </div>
</div>

