<!DOCTYPE html>
<html lang="en">
<head>
    <script>
			if (!navigator.userAgent.match(/(iPhone|iPod|Android|ios|webOS|BlackBerry)/i)) {
				window.location = 'index.php';
			}
    </script>
    <meta charset='utf-8'/>
    <title>GTIC AWARDS 2018年度评选 | 发现智能变革力量</title>
    <meta name="description" content="GTIC AWARDS 2018，由智东西联合极果和AWE权威发起。此次年度评选聚焦智能变革力量，着眼产业升级趋势，将对在2017年度有着卓越表现、快速成长、大胆创新、取得商业突破的优秀公司、产品和解决方案进行表彰。">
    <meta name="keywords" content="人工智能,智能变革,GTIC,GTIC AWARDS,变革力量,AI先锋,Awe,AI赋能,黄仁勋视频致谢">
    <meta name="referrer" content="always"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="msapplication-navbutton-color" content="#000000"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <script><%= require('raw-loader!./../../../../inline/flexible') %></script>
</head>
<body>
<% if( process.env.NODE_ENV == 'production' ){ %>
    <%= require('raw-loader!./../block_tpl/share.php3') %>
<% } %>
<div id="app"></div>
</body>
</html>