@import "./button.scss";
@import "./form-row.scss";
@import "./../../../../../style/scss/helpers/functions";
.password__find {
  .password__step-wrap {
    padding: 0 px2rem(50);
    margin: px2rem(35) 0 0;
    position: relative;
  }
  .password__form {
    padding: px2rem(40) px2rem(24);
  }
  .validatecode {
    img {
      height: px2rem(80);
    }
  }
  .tel-validatecode {
    .button {
      height: px2rem(88);
      font-size: px2rem(28);
    }
  }
  .w250 {
    width: px2rem(250);
  }
}