
@import "./../../../../../style/scss/helpers/functions";

.button {
  text-align: center;
  appearance: none;
  color: #fff;
  background: #fe5341;
  border: none;
  outline: none;
  display: block;
  border-radius: px2rem(10);
  height: px2rem(100);
  width: 100%;
  font-size: px2rem(40);
  user-select: none;
  &.red{
    background: #fe5341;
    color: #fff;
  }
  &.gray{
    background: #a5a5a5;
    color: #fff;
  }
  &:not(.gray):active {
    background: #fe5341 - 20%;
    color: #fff - 20%;
  }
}