<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'/>

    <script><%= require('raw-loader!./../../../../inline/flexible') %></script>

</head>
<body>
<div id="app"></div>
</body>
</html>